/* IMPORTANT: Style settings in this file will affect all modes (edit, presentation, print, etc.) */

body {
    /*    background-color: rgba(22,37,52,1) !important;*/
    font-family: 'Rubik', Arial, sans-serif;
}

.redactor-open {
    overflow: hidden;
}

#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4 {
    font-family: 'Manjari', Arial, sans-serif;
}

#main h2 {
    font-family: 'Rubik', Arial, sans-serif;
}

#box-choose .more {
    display: none !important;
}